/* app.component.css */
.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden; /* prevent page scroll */
}

.main-content {
  flex: 1;
  overflow-y: auto;
  height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
}


  main.main-content {
    flex: 1; /* Allow the main content to fill the available space */
    padding: 20px; /* Add some padding */
    overflow-y: auto; /* Enable scrolling if content overflows */
  }
  
  /* Optional: Add some styles for the sidenav */
  .side-menu {
    width: 250px; /* Fixed width for sidenav */
    background: #f8f8f8; /* Background color */
    padding: 10px; /* Add padding */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
  }
  