.patient-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }

  .patients-table mat-header-cell {
    width: 100%;
    background-color: #696666 !important;
  }

  .patients-table mat-cell {
    background-color: #888787;
  }
  
  .loading-spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  
  mat-spinner {
    margin-bottom: 10px;
  }
