.appointment-container {
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
}

.appointments-table {
  width: 100%;
}

.loading-spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

mat-spinner {
  margin-bottom: 10px;
}
