.appointments-table {
  width: 100%;
  background-color: rgb(103, 119, 149); /* Set to white or desired color */
}

.appointments-table mat-header-cell {
  background-color: #696666 !important; /* Use !important if necessary */
}

.appointments-table mat-cell {
  background-color: transparent !important; /* Use !important if necessary */
}
